@import url(http://fonts.googleapis.com/css?family=Varela);

body{
    background-color: #444;
}

h1{
    color:#ccc;
    text-align: center;
    font-family: 'Varela', sans-serif;
}



.chalkboard{
    background: white;
    border:1px dashed white;
}

.chalkboard .border{
    margin: 5px;
    border:1px dashed black;
}

.border{
    border-width: 1px;
    border-style: solid;
}

#drawArea{
    width:100%;
    height:500px;
    cursor: url(/images/pencil_cursor.png) 0 16, crosshair;

}

#palette  .item {
    margin:1px;
    border: 1px solid #444;
}

#palette  .item.active{
    border:1px dashed white;
}

#palette .item.active.bg-white{
    border:1px dashed black;
}

#widths{
    margin-top: 10px;
}

#widths .width-item{
    margin:1px;
    text-align: center;
    border: 1px solid #444;
    background-color: #fff;
}

#widths .width-item.active{
    border:1px dashed black;
}

#widths .width-item span {
    margin: auto;
    border-right: 1px solid;
}

#invite-friend .lead{
    display: none;
    font-size: 24px;
    font-family: 'Varela', sans-serif;
    letter-spacing: 5px;
}

#doodlers-list{
    display: none;
}

.github{
    margin-top:20px;
    vertical-align: middle;
}

.github > a > img{
    height:16px;
    margin-top:-2px;
}

.github > a{
    background-color: #ddd;
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
    border-radius: 3px;
    border:1px solid #ccc;
    padding:2px 5px;
    font-size: 11px;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;

}

